<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'life_style.css')}}">
    <title>Choose your own adventure!</title>
</head>
<body>
    <div id="container">
        <div id="story">
            <p>
                You murmur to the shaman "Time flies like an arrow. Fruit flies like a banana." The figure lowers their hood. The shaman stares at you blankly for what seems like eternity. She then erupts in laughter. She introduces herself as Lisa, and casts both Healing Wave and Purify Spirit to soothe your weary wounds. Your character stats are permanently boosted.  She offers to guide you in the ways of the Python, should the spirits be willing to bestow upon you such powerful and ancestral magics.
            </p>
            <img src="/static/img/shamanheal.webp" alt="shamanheal">
        </div>
        <div>
            <p>You lived?!?!?!</p>
        </div>
        <div id="choices">
            <a href="https://www.codingdojo.com">You feel a deep connection with the earth beneath you, and the air filling your lungs. You are to continue your training, here. Go safely, and be glad. </a>
        </div>
    </div>
</body>
</html>