<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'death_style.css')}}">
    <title>Choose your own adventure!</title>
</head>
<body>
    <div id="container">
        <div id="story">
            <p>
                The barmaid swiftly decapitates you with a gleaming axe. You did not realize she had an axe. You die a hideous death.
            </p>
            <img src="static/img/skull.jpg" alt="">
        </div>
        <div id="choices">
            <a href="/">Start over</a>
        </div>
    </div>
</body>
</html>